[submodule "construct"]
	path = construct
	url = https://github.com/Unbalanced-game/unbalanced-game_creator
[submodule "unbalanced-assets"]
	path = unbalanced-assets
	url = https://github.com/Unbalanced-game/unbalanced-assets
	branch = rendered
