[submodule "documentation"]
	path = documentation
	url = https://github.com/Unbalanced-game/unbalanced-documentation
[submodule "karten/unbalanced-assets"]
	path = karten/unbalanced-assets
	url = https://github.com/Unbalanced-game/unbalanced-assets
[submodule "generator/unbalanced-game_creator"]
	path = generator/unbalanced-game_creator
	url = https://github.com/Unbalanced-game/unbalanced-game_creator
