
* { margin: 0; padding: 0; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; }
body { margin: 0; padding: 0; background: #E7E7E4; }

/* Überschriften, Absätze, Auflistung */
h1 { font: bold 24px 'Verdana', Tahoma, Verdana; color: #57aeff; margin: 5px 0 15px 0; }
h2 { font: bold 20px 'Verdana', Tahoma, Verdana; color: #210000; margin: 25px 0 3px 0; }
h3 { font: bold 18px 'Verdana', Tahoma, Verdana; color: #210000; margin: 25px 0 3px 0; }
p { font: 16px/150% 'Verdana', Tahoma, Verdana; color: #333; text-align: justify; margin: 0 0 10px 0; }
/*ul { margin: 0 15px 10px 15px; }
li { font: 16px/150% 'Verdana', Tahoma, Verdana; color: #333; text-align: justify; }*/


/* allgemeine Textlinks */
#inhalt a:link, #inhalt a:active, #inhalt a:visited, #footer a:link, #footer a:active, #footer a:visited { color: #227bf0; font-weight: bold; }
#inhalt a:hover, #footer a:hover { background: #22e2f0; color: #227bf0; text-decoration: none; }

/* Logo Banner */
#logo { width: 100%px; font: bold 36px 'Verdana' Verdana; color: #000; font-style: italic; letter-spacing: 2px; word-spacing: 7px; margin: 30px auto; }
#logo_in 	{ display: inline-block; z-index: 0; background: #fff; border: 1px solid #8f3500; text-align: left; width:100%;}

/* Inhalt-Content */
#content { 
	padding: 20px 20px 20px 50px; 
	border-right: 10px solid #fff; 
	border-left: 10px solid #fff; 
	margin: 0px 20px;
}


/* Dekoration */
img.rund { border-radius: 100%; width: 150px; }


/* Tabellen mit DIV */
  div.table {display: table; width: calc(100%); border: none;   }
  div.tr { display:table-row;   }
  div.spalte { display:  table-cell; border: none; width: 50%; padding: 5px;  background: #FBF8EF; }
  div.spalte1 { display: table-cell; border: none; width: 50%; padding: 5px;  background: #F5DA81;  }
  div.mentBild { display: inline-block; vertical-align: top; border: none; padding: 10px; width: 160px; }
  div.mentText { display: inline-block; vertical-align: top; border: none; margin-left: 10px; padding: 2px; width: 440px;  }
  div.rund { display: inline-block; width: 150px; height: 150px; color: white; }
p.ment	{ font: 14px 'Verdana', Tahoma, Verdana; font-weight: bold; background-color: #61380B; color: white; padding: 2 5 2 5px;order-radius: 5em; text-align: left;}

#rund { border-radius: 75px; border: 1px solid red; width: 150px height: 150px;  background-repeat: no-repeat; background-position: center center; }

#head{
	position: absolute; z-index: 1; left: 440; top: 50; width: 360; height: 280; border: none;
}

.footer{
  border-top: 10px solid #fff; 
  border-bottom: 10px solid #fff;
  position: -webkit-sticky; /* Safari */
  position: sticky;
}

